<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈哈哈</title>
</head>
<body>
    <table border="0">
        <tr>
            <th>姓名</th>
            <th>身高</th>
            <th>体重</th>
        </tr>

        <tr>

            <td>噗噗</td>
            <td>吼吼</td>
            <td>哼哼</td>
        </tr>
    </table>
    <img src="photo.jpeg"/><br>
    <a href="tinglizz@126.com">邮箱</a>
    <h1 style="background: aquamarine;color: azure;font-size: 200px;text-align: center">hahaha</h1>
    <h2 style="background: darkcyan">xixixi</h2>
    <h3 style="background: aqua">heiheihei</h3>


</body>
</html>