<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
</head>
<body BGCOLOR="#ffe4b5">
<table>
    <h1 style="background: goldenrod" ;color="black" ;font-size="30px" ;text align="center">用户中心</h1>
    <tr>
        <td>姓名:</td>
        <td><input type="text"/></td>
    </tr>
    <td>Email:</td>
    <td><input type="text"/>@</td>
    <td>
        <input type="text"/></td>
    <tr>
        <td>
            性别：
        </td>
        <td><input type="radio" name="sex" value="male" checked="checked"/>男</td>
        <td><input type="radio" name="sex" value="female"/>女</td>
        <td><input type="radio" name="sex" value="other"/>其他</td>
    </tr>
    <tr>
        <td>
            爱好：
        </td>
        <td><input type="checkbox" name="hobby" value="dance"/>跳舞💃</td>
        <td><input type="checkbox" name="hobby" value="sing"/>唱歌🎤</td>
        <td><input type="checkbox" name="hobby" value="read" checked="checked"/>读书📚</td>
        <td><input type="checkbox" name="hobby" value="pingpang"/>乒乓球🏓</td>
        <td><input type="checkbox" name="hobby" value="swim"/>游泳🏊‍</td>
    </tr>
    <tr>
        <td>
            生日：
        </td>
        <td><select class="birthday">
            <option value="1"/>
            1990</option>
            <option value="2"/>
            1991</option>
            <option value="3"/>
            1992</option>
            <option value="4"/>
            1993</option>
            <option value="5"/>
            1994</option>
            <option value="6"/>
            1995</option>
            <option value="7"/>
            1996</option>
            <option value="8"/>
            1997</option>
            <option value="9"/>
            1998</option>
        </select>
            年
        </td>
        <td>
            <select class="birthday"/>
            <option value="1"/>
            1</option>
            <option value="2"/>
            2</option>
            <option value="3"/>
            3</option>
            <option value="4"/>
            4</option>
            <option value="5"/>
            5</option>
            <option value="6"/>
            6</option>
            <option value="7"/>
            7</option>
            <option value="8"/>
            8</option>
            <option value="9"/>
            9</option>
            <option value="10"/>
            10</option>
            <option value="11"/>
            11</option>
            <option value="12"/>
            12</option>
            </select>
            月
        </td>
        <td>
            <select>
                <option value="1"/>
                1</option>
                <option value="2"/>
                2</option>
                <option value="3"/>
                3</option>
                <option value="4"/>
                4</option>
                <option value="5"/>
                5</option>
                <option value="6"/>
                6</option>
                <option value="7"/>
                7</option>
                <option value="8"/>
                8</option>
                <option value="9"/>
                9</option>
                <option value="10"/>
                10</option>
                <option value="11"/>
                11</option>
                <option value="12"/>
                12</option>
            </select>
            日
        </td>
    </tr>
    <tr>
        <td>
            头像：
        </td>
        <td>
            <img src="unnamed.png" width="200" height="200"/>
        </td>
    </tr>
    <tr>
        <td>
            博客：
        </td>
        <td>
            <a href="tinglizz@126.com"/>个人博客</a>
        </td>
    </tr>
</table>
<h1 style="background: goldenrod;color: #405EEE;font-size: 30px;text-align: right">2019年7月18日星期三</h1>
</body>
</html>