<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>請搜索</title>
</head>
<body>
<form>
    <table border="1">
        <tr>
            <th>编号</th>
            <th>代码</th>
            <th>类型</th>
        </tr>
        <tr>
            <td>007</td>
            <td>001</td>
            <td>008</td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td><input type="text"/></td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>
                性别
            </td>
            <td>
                <input type="radio" name="sex" value="male" checked="checked"/>男
            </td>
            <td>
                <input type="radio" name="sex" value="male"/>女
            </td>
        </tr>
        <tr>
            <td>
                水果：
            </td>
            <td>
                <input type="checkbox" name="ftuit" value="apple">苹果🍎</input>
            </td>
            <td>
                <input type="checkbox" name="fruit" value="peach">桃子🍑</input>
                <input type="checkbox" name="ftuit" value="orange">桔子🍊</input>
            </td>
        </tr>
        <tr>
            <td>
                学校：
            </td>
            <td>
                <select name="school">
                    <option name="1">-请选择-</option>
                    <option name="4">南街小学</option>
                    <option name="2">东街小学</option>
                    <option name="3">北街小学</option>
                </select>
            </td>
        </tr>

    </table>
    <img src="photo.jpeg"/><br>
    <a href="tinglizz@126.com">我的郵箱</a>
    <h1 style="background:#70DBDB;color:#4E2F2F;font-size:100px;text-align:center">哈嘍呀</h1>
</form>
</body>
</html>