<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
</head>
<body>
<table border="0">
    <tr>
        <th>表头1</th>
        <th>表头2</th>
        <th>表头3</th>
        <th></th>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
    </tr>
    <tr>
        <td>4</td>
        <td>5</td>
        <td>6</td>
    </tr>
    <h1>This is a heading</h1>
    <h2>This is a heading</h2>
    <h3>This is a heading</h3>
    <p>This is a paragraph.</p>
    <p>This is another paragraph.</p>
    <a href="http://www.baidu.com">点击</a>
    <img src="photo.jpeg" width="104" height="142"/>
</table>
</body>
</html>