<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
</head>
<body>
<h1 align="center" style="background: #70DBDB">用户中心</h1>
<form>
    <table>
        <tr>
            <td>姓名：</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>Email：</td>
            <td><input type="text"/>@<input type="text"/>
            </td>
        </tr>
        <tr>
            <td>
                性别：
            </td>
            <td>
                <!-- 单选框-->
                <input type="radio" name="sex" value="male" checked="checked"/>男
                <input type="radio" name="sex" value="female"/>女
                <input type="radio" name="sex" value="unmale"/>其他
            </td>
        </tr>
        <tr>
            <td>
                爱好：
            </td>
            <td>
                <!-- 复选框-->
                <input type="checkbox" name="fruit" value="apple"/>唱歌🎤
                <input type="checkbox" name="fruit" value="banana"/>跳舞💃
                <input type="checkbox" name="fruit" value="pear"/>游泳🏊‍
                <input type="checkbox" name="fruit" value="pear2"/>看电影🎬
                <input type="checkbox" name="fruit" value="pear3"/>读书📚
            </td>
        </tr>
        <tr>
            <td>
                生日：
            </td>
            <td>
                <select name="year">
                    <option name="1">1990</option>
                    <option name="2">1991</option>
                    <option name="3">1992</option>
                    <option name="4">1993</option>
                    <option name="4">1994</option>
                    <option name="4">1995</option>
                    <option name="4">1996</option>
                    <option name="4">1997</option>
                    <option name="4">1998</option>
                    <option name="4">1999</option>
                </select>
                年
                <select name="month">
                    <option name="1">1</option>
                    <option name="2">2</option>
                    <option name="3">3</option>
                    <option name="4">4</option>
                    <option name="4">5</option>
                    <option name="4">6</option>
                    <option name="4">7</option>
                    <option name="4">8</option>
                    <option name="4">9</option>
                    <option name="4">10</option>
                    <option name="4">11</option>
                    <option name="4">12</option>
                </select>
                月
                <select name="day">
                    <option name="1">1</option>
                    <option name="2">2</option>
                    <option name="3">3</option>
                    <option name="4">4</option>
                    <option name="4">5</option>
                    <option name="4">6</option>
                    <option name="4">7</option>
                    <option name="4">8</option>
                    <option name="4">9</option>
                    <option name="4">10</option>
                </select>
                日
            </td>
        </tr>
        <tr>
            <td>
                头像：
            </td>
            <td>
                <img src="photo.jpeg"/>
            </td>
        </tr>
        <tr>
            <td>
                博客：
            </td>
            <td>
                <a href="http://zhouyannian.com">个人博客(点击跳转至http://zhouyannian.com)</a>
            </td>
        </tr>
    </table>
</form>
<h2 style="background: #70DBDB;color: indianred" align="right">2019年7月17日 星期二</h2>
</body>
</html>
